doctype html
html(lang = 'en')
	head
		title Goalr Login
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='landr.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		.container
			.text-vertical-center
				h1 
					| login to 
					a(class = 'link' href = '/info') goalr
				br
				.col-md-4
				.col-md-4
					form(role='form', action='/login',method='post')
						.form-group
							input.form-control(type='text', name='username', placeholder ='Enter Username')
						.form-group
							input.form-control(type='password', name='password', placeholder='password')
						a(href='/')
							button#login.btn.btn-primary(type='submit') Login
						&nbsp;
						a#regg.btn(href='/register') register
