html,body{
	margin: 0;
	height:100%;
}
.container{
	background : url('http://images1.laweekly.com/imager/u/original/5838385/porter_robinson_by_ryan_loughlin_2.jpg') no-repeat center center scroll;
	display: table;
	position: relative;
  	width:100%;
  	height:100%;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;  
}
.text-vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color:white;
}
.not{
	bottom:0;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	opacity:0;
}
.containertwo{
background-color: black;
	display: table;
	position: relative;
  	width:100%;
  	height:100%;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;  
}
.text-vertical{
	color:white;
	display: table-cell;
	text-align: center;
	margin-top: 100;
	    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
