html,body{
	margin: 0;
	height:100%;
}
.container{
	display: table;
	position: relative;
  	width:100%;
  	height:100%;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;
      
        background-color: black;
}
.text-vertical-center{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Pier';
  src:url(Pier/pier-regular.otf) format('opentype');
  color: white;
}
