.container{
background-color : black;
	display: table;
	position: relative;
  	width:100%;
  	height:100%;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover;  
}
.mtext{
  vertical-align: middle;
  text-align: center;
}
.h1{
  color: white;
}
