#hundred{
  background-color: #292D31;
}

@font-face{
  font-family: 'Pier';
  src:url(Pier/pier-regular.otf) format('opentype');
}
header{
  position: relative;
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color:#000;
  font-family: 'Pier';
}
#paddingbtn{
  padding-bottom: 50px;
}
#full{
  position:relative;
  width:100%;
  height:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
#gr{
  display:table;
}
header h1{
  color:white;
}
.text-vertical-center{
     display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.font{
  font-family: 'Open Sans Condensed', sans-serif;
}
#fail{
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.50em;
  color: white;
  display: inline;
}
#scrolldown{
  vertical-align: bottom;
  display:table-row;
  text-align: center;
  height:40px;
  color:#ffffff;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}
a{
  color: white;
}
#fail:hover{
  color: #000000;
}
#fail {
	color: #ffffff;
}
#sub{
  font-family: "Helvetica Neue";
  font-size: 4em;
  text-align: center;
  font-weight: 300;
  margin-top: 150;
  font-size: 30;
  letter-spacing: 0.04em;
  color: #fff;
  padding-bottom:10px;
}

#pbar{

	padding:10px;
  font-size: 2em;
  font-weight: 500;
  color: #87ceeb;
}
#goalRow{
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
}
#plus{
  margin-top: 50;
  font-size: 1.5em;
  color: #87ceeb;
}
#plus:hover{
  color: black;
}
#textInput{
  color:white;
}
#glr{
  color:white;
}
#demo-menu-lower-right{
  color: white;
}
@-webkit-keyframes bounce {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  70% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes bounce {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  70% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }

  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }
.mdl-button{
  margin-top: 100;
}
