body{
  background-color: grey;
}
.font{
  font-family: 'Open Sans Condensed', sans-serif;
}
#goalr{
  letter-spacing: 4px;
  font-size: 2em;
  font-weight: 300;
  color: white;
  background-color: black;
  display: inline;
}
#goalr:hover{
  color: black;
  background-color: white;
}
#sub{
  font-size: 3em;
  font-weight: 200;
  text-align: center;
  margin-top: 150;
}
