body{
  background-color: grey;
}
.font{
  font-family: 'Open Sans Condensed', sans-serif;
}
#fail{
  font-size: 2em;
  font-weight: 300;
  margin-left: 20;
  letter-spacing: 4em;

}
#sub{
  font-size: 5em;
  text-align: center;
  font-weight: 300;
}
